body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
  width: 600;
  height: 300;
  background-color: blueviolet;
  color: antiquewhite;
  padding: 2rem;
  text-align: center;

}
